<div class="rounded border" style="background-color:lightblue">
<strong><%= comment.commenter %> said: </strong><br>
  <%= comment.body %>
</div>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?'},
              style:"color:red"%>
</p>