<%= render "universal/topnavbar" %>
<div class="jumbotron text-center">
  <h1>Welcome to this... thing. Whatever it ends up being.</h1>
  <p>This is my first Ruby on Rails project. It will inevitably grow into some strange monster as I use it as a sort of
    sketchpad website</p>
</div>

